{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">Todo List</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
</nav>

<div class = "login containers-fluid text-center mt-5">

    <h1>Login</h1>

    <form method="POST" action="" class = "form-login">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="form-control">
        <br/>
        <input type="password" name="password" placeholder="Password" class="form-control">
        <br/>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Login">
        <div class="messages">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
        </div>
    </form>
    
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}