{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand">Todo List</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex" id="navbarSupportedContent">
        <a class="btn btn-primary" aria-current="page" href="{% url 'todolist:login' %}">Login</a>
      </div>
    </div>
  </nav>

<div class = "register containers-fluid text-center mt-5">
    
    <h1>Formulir Registrasi</h1>  
    <div style = "display: flex; justify-content: center;">
        <form method="POST" class="form-register" style="width: 305px">  
            {% csrf_token %}
            
            <input style = "width: 305px" type="text" name="username" placeholder="Username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form-control">
            <ul style="font-size: 12px; text-align: left;">
                <li>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
            </ul> 
                <input style = "width: 305px" type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1" class="form-control">
            <ul style="font-size: 12px; display: flex; flex-direction: column; gap: 4px; margin-bottom: 20px; text-align: left;">
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
            <input style = "width: 305px" type="password" name="password2" placeholder="Confirm Password" autocomplete="new-password" required="" id="id_password2" class="form-control">
            <ul class="message-register" style="font-size: 12px;">
                <li>Enter the same password as before, for verification.</li>
            </ul>

            <input type="submit" name="submit" value="Register" class="btn btn-primary mt-3"/> 
        </form>
    </div>

</div>  

{% endblock content %}